* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  padding: 0px 25px;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 30px 20px;
  text-align: center;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 50px;
  font-weight: 100;
}

header p {
  font-size: 26px;
  text-transform: uppercase;
}

.product h3 {
  font-size: 28px;
}

.product img {
  width: 100%;
}

.product span {
  font-size: 24px;
}

.product .old-price {
  color: gray;
  text-decoration: line-through;
}

.product .new-price {
  color: red;
}
